{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="jumbotron w-100 py-5 mx-auto mt-2">
        <h3>{{ exercise.description }}</h3>
        <br>
        <p>Configuration : <span class="badge badge-primary">{{ exercise.setting }}</span></p>
    </div>

    <div class="card bg-primary text-white h-100">
        <form action="" method="">
            <div class="card-body align-items-start row p-4">
                {% csrf_token %}
                <div class="form-group col-sm-12 col-md-6">
                    <label for="weight">Poids</label>
                    <input id="weight" name="weight" type="number" class="form-control" value="0" min="0" step="0.5" >
                </div>
                <div class="form-group col-sm-12 col-md-6 ">
                    <label for="reps">Répétitions</label>
                    <input id="reps" type="number" name="reps" class="form-control" value="0" min="0" step="1" >
                </div>
                <div id="form-info" class="w-100 p-3"></div>
                <div class="col-12 text-center">
                    <button class="btn btn-outline-light" id="add_content" data-target="#exampleModal">Ajouter une série</button>
{#                    <button class="btn btn-outline-light" id="add_content" data-target="#exampleModal" data-toggle="modal">Ajouter une série</button>#}
                </div>
            </div>
        </form>
    </div>

    <br>
    <h3>5 Dernières séries</h3>
    <div id="list-series">
    </div>
    


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title text-primary" id="">Nouveau maximum enregistré</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span class="text-primary">Félicitation !</span> Tu viens d'exploser ton <span>max</span> sur cet exercise.

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="top-label" class="w-100 fixed-top bg-success p-3 text-center text-white">
        Série supprimée avec succès :)
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        var top_timeout = 0;
        /*$(".del_serie").each(function(i, e){
            $(e).on('click',
                function(elem)
                {
                    if (confirm('Voulez-vous supprimer cette série ?')) {
                        $(elem).fadeOut(200, function(){});
                        setTimeout(function(){
                                $(elem).submit();
                            },
                            200
                        );
                    }
                }
            )
        });*/

        // Add content
        $('#add_content').on('click', function(event){
            event.preventDefault();
            weight = $('#weight').val();
            reps = $('#reps').val();
            $.post({
                url: '/exercise/add_serie/',
                data: {
                    weight: weight,
                    reps: reps,
                    exo_id: {{ exercise.id }},
                },
                success: function(data){
                    load_data(5, {{ exercise.id }}, true);
                    get_for_info(true);
                },
                error: function(data){
                    get_for_info(false);
                }
            });
        });


        $.post({
            url: "{% url 'series' %}",
            data: {
                'exo_id': '{{ exercise.id }}',
                'limit': 5,
            }
        });

        function get_for_info( success ) {
            let info_url = '{% url 'info' 'add_serie_error' %}';
            if (success) {
                info_url = '{% url 'info' 'add_serie_success' %}'
            }
            $.get({
                url: info_url,
                success: function(data) {
                    $('#form-info').html(data).fadeOut(5000, function() { $('#form-info').remove(); })
                },
                error: function(data) {
                    $('#form-info').html('fail')
                }
            })
        }

        function load_data(lim, id, fade=true){
            $.get({
              url: '/series/',
              success: function(data){
                  $('#list-series').html(data);

                  // fade in for first elem of the list
                  if (fade) {
                      setTimeout(function(){
                          $('.no-opacity-first-serie:first').css('opacity', '1');},
                          10
                      );
                  } else {
                      $('.no-opacity-first-serie:first').css('opacity', '1');
                  }

                  $('.del-serie').each(function(i, e){
                    $(e).on('click', function(event){
                      if (confirm('Veux-tu vraiment supprimer cette série ?')) {
                        serie_id = event.target.getAttribute('id');
                        $.post({
                          url: '{% url 'del_serie' %}',
                          data: {
                            serie_id: serie_id,
                            exo_id: {{ exercise.id }},
                            success: del_success_callback
                          }
                        });
                      }
                    });
                  });


             },
              data: {
                exo_id: id,
                limit: lim
              }
            });
        }

        function del_success_callback (data) {
            load_data(5, {{ exercise.id }}, false);
            $('#top-label').css('visibility', 'visible');
            $('#top-label').css('opacity', '0.9');
            setTimeout(function(){
                    $('#top-label').css('opacity', '0');
                    setTimeout(function(){
                           $('#top-label').css('visibility', 'hidden');
                        },
                        500
                    );
                },
                3000);
            console.log('hello');
        }

        window.addEventListener('load', function(){
            load_data(5, {{ exercise.id }}, false);
        })

    </script>

{% endblock %}