{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br>
    <h2 class="text-primary">Liste des machines</h2>
    <br>

    <div class="row">
        {% for machine in machines %}
            <div class="p-2 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card bg-primary ">
                    <a href="{% url 'machine' machine.id %}">
                        <div class="card-body row">
                            <div class="col-4">
                                <img src="{% static 'img/' %}{{ machine.picture }}" alt="" height="100">
                            </div>
                            <div class="col-8 text-center">
                                <h4 class="card-title text-white">{{ machine.name }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}