{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div>
        <h1>{{ machine.name }}</h1>
    </div>

    <h2>Liste des exercices</h2>
    {% for exercice in exercices %}
        <div class="card border-primary h-100">
            <a href="{% url 'exercice' exercice.id %}">
                <div class="card-body d-flex flex-column align-items-start">
                    <h4 class="card-title text-primary">{{ exercice.name }}</h4>
                    <p>{{ exercice.description }}</p>
                    <p>{{ exercice.setting }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    



{% endblock %}